<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link href="/css/main.css" rel="stylesheet" />
  <title>WADG - React / Redux / Universal</title>
</head>
<body>

<div id="container"><%- markup -%></div>

<script>
	window.__PRELOADED_STATE__ = <%-preloadedState%>;
</script>

<script src="/js/main.bundle.js" charset="utf-8"></script>

</body>
</html>