@import '../../node_modules/reset-css/_reset.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$width-container:1160px;
$width-sm-min:768px;
$width-md-min:992px;
$width-lg-min:1200px;
$color-bg:#eceeef;
$color-white:#FFFFFF;

body {
	margin:auto;
	text-align:center;
	background-color:$color-bg;
}

#container {
	width:100%;
	margin:auto;
	background-color:$color-white;
	text-align:left;
}


#header {
	margin-bottom:30px;
	#quick-links {
		margin-top:5px;
		margin-bottom:20px;
	}
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: $width-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: $width-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: $width-lg-min) {
	#container {
		width:$width-container;
		padding:20px 20px 20px 20px;
	}
}